.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-family:Poppins,sans-seriff ;
}

.modal {
  background: #fff;
  padding: 25px 30px;
  border-radius: 12px;
  text-align: center;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  height:290px;

}

.image {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.message {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.actions {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.btn {
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  font-size: 16px;
}

.confirm {
  background-color: #01103a;
  color: white;
}

.cancel {
  background-color: #ccc;
  color: #333;
}
/* loader svg*/
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader svg path {
  fill: #fff; /* make it white inside button */
}