/* src/Dashboard/CheckoutModal.module.css */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6); /* dark transparent backdrop */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* stays above dashboard */
}

.modal {
  background: #fff;
  padding: 24px;
  border-radius: 10px;
  width: 450px;
  max-width: 90%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.2s ease-in-out;
}

.title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 16px;
  text-align: center;
  color:#020c3a;
}
.remarks {
  margin-bottom: 16px;
}

.textarea {
  width:320px;
  height: 100px;
  background-color: #F4F3F3;
  border-radius: 6px;
  padding: 18px;
  resize: none;
  margin:35px;
  font-size: 14px;
  border:none;
}

.actions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 8px;
  margin-bottom:15px;
}

.cancel {
  background: #EAB923;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  color:white;
}

.confirm {
  background: #FF3B38;
  color: #fff;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
