.container {
  padding-top: 100px;
  background: #f8f9fc;
  min-height: 100vh;
  
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  
}

.header h2 {
  font-size: 22px;
  font-weight: 600;
  margin-left: 15px;
}

.header select {
  padding: 8px 14px;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
  margin-right: 15px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  margin-bottom: 25px;
}

.card {
  background: #ffffff;
  border-radius: 14px;
  padding: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
  margin: 10px;
}

.card p {
  font-size: 14px;
  color: #777;
  margin-bottom: 6px;
}

.card h3 {
  font-size: 24px;
  font-weight: 600;
}

.pass {
  color: #2e7d32;
}

.fail {
  color: #d32f2f;
}

.tableWrapper {
  background: #ffffff;
  border-radius: 14px;
  padding: 10px;
  overflow-x: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  margin:10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th {
  background: #f2f4f8;
  font-size: 14px;
  padding: 12px;
  text-align: center;
}

.table td {
  padding: 12px;
  font-size: 14px;
  border-bottom: 1px solid #eee;
}

.table tr:hover {
  background: #f9fafc;
}
